

.nav-btn {
  text-align: center;
  padding: 16px;
  cursor: pointer;
}
.Home {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}



.education {
  display: flex;
  
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #f0e68c;
  cursor: pointer;
}