
@import "../global.scss";

.header {
    font-size: calc(10px + 2vmin);
    width: 100%;
    height: 70px;
    background-color: $mainColor;
    color: $textColor;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;

    .wrapper {
        padding: 10px 30px;
        display: flex;

    }
    
    
}

// .nav-btn {
//     text-align: center;
//     padding: 16px;
//     cursor: pointer;
// }