.home {
    background-color: #434957;
    display: flex;
    h1{
        font-size: 60px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    span {
        font-size: 35px;
    }
    .left {
        flex: 0.5;
        overflow: hidden;

        
    }   

    .right {
        flex: 0.5;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .typingText {
            color: skyblue;
        }
        .helloText {
            padding-left: 20px;
        }
    }
}
