.project {
    background-color: lightskyblue;
}
.projects a {
    text-decoration: none;
    
    font-size: 18px;
}
.goat-project {
    display: flex;
    flex-direction: column;
}
.demo-info{
    display:flex;
}

.video {
    width: 40%;
    height: 315px;
  }