.App{
  height: 100vh;
  
  .sections{
    width: 100%;
    height: calc(100vh - 70px); //page size - header
    position: relative;
    background-color: lightsalmon;
    top: 70px;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
      &::-webkit-scrollbar{
        display: none;
      }
    > *{
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
      
    }
  }

}
a {
  text-decoration: none;
  font-weight: bold;
  color: #f0e68c;
  cursor: pointer;
}