
.App-header {
  background-color: #f0e68c;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  
}


.Home {
  background-color: #282c34;
}

.Pages{
  display: flex;
  justify-content: space-between;
  
}

.link {
  margin-left: 20rem;
}